.page-container {
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: white;
  color: black;
  position: relative;
  top: 50px;
}

.is-dark .page-container {
  background-color: #161A25;
  color: white;
  transition: all 200ms ease-in-out;
}

.fade {
  color: #acacac;
}
